* {margin: 0; padding: 0;box-sizing: border-box;}

.index
{background: url('./Bg.jpg') rgba(0,0,0,0.3);
background-blend-mode: multiply;
background-position: center top;
background-size: cover; 
background-repeat: no-repeat;}

.Homeestimate
{background: url('./forsale.jpg') rgba(0,0,0,0.3);
background-blend-mode: multiply;
background-position: center top;
background-size: cover; 
background-repeat: no-repeat;}

.card-container {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 10px; 
    align-items: center;
    justify-content: center; 
    
  }

  .card {
    width: 300px; 
    height: 450px; 
    margin: 10px; 
margin-top: 50vh;}


@media(max-width: 991px){
    .sidebar{
        background-color: rgba(255,255,255,0.15);
        backdrop-filter: blur(10px);
    }
}
